name: Check

on:
  push:
    branches: [main]
  pull_request:

jobs:
  docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Install Nix
        uses: cachix/install-nix-action@v24
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Build documentation
        run: nix develop --command just book
      - name: Check documentation built
        run: |
          if [ -d docs/book ]; then
            echo "Documentation built successfully"
          else
            echo "Documentation build failed"
            exit 1
          fi

  doc-links:
    name: Doc Links
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          use-quiet-mode: "yes"
          use-verbose-mode: "yes"
          config-file: ".github/config/markdown-link-check.json"
          base-branch: "main"
          folder-path: "docs"
